data:
  problems: ["CA"]
  is_sizes: [2]
  ca_sizes: [5]
  sc_sizes: [2]
  cfl_sizes: [5]
  rnd_sizes: [2]
  test_split: 0.15
  val_split: 0.15
  n_instances: 7000
  data_root: ./data/instances
  solve: true
  gurobi_threads: 4
  n_jobs: 32

gnn_policy:
  embedding_size: 128
  cons_nfeats: 4
  edge_nfeats: 1
  var_nfeats: 18
  num_emb_type: periodic
  num_emb_bins: 32
  num_emb_freqs: 16

training:
  use_bipartite_graphs: false
  devices: "0"
  batch_size: 256
  epochs: 200
  lr: 0.001
  seed: 42
  primal_weight: 0.1
  dual_weight: 0.1
  stationarity_weight: 0.6
  complementary_slackness_weight: 0.2
  num_workers: 0
  log_every: 5

testing:
  ckpt: exps/kkt_20251020_203603/best.pt
  file_path: data/instances/RND/instance/test/5/RND-5-0012.lp
  out_dir: outputs
  device: "0"
