data:
  problems: ["RND"]
  is_sizes: [10,50]
  ca_sizes: [10,50]
  sc_sizes: [10,50]
  cfl_sizes: [10,50]
  rnd_sizes: [2,5,10,50]
  test_split: 0.15
  val_split: 0.15
  n_instances: 7000
  data_root: ./data/instances
  solve: true
  gurobi_threads: 4
  n_jobs: 32

gnn_policy:
  embedding_size: 128
  cons_nfeats: 4
  edge_nfeats: 1
  var_nfeats: 18
  num_emb_type: periodic
  num_emb_bins: 32
  num_emb_freqs: 16
# Transformer architecture parameters
transformer:
  d_model: 128
  nhead: 8
  dim_feedforward: 1024
  transformer_dropout: 0.4237401880161013
  transformer_activation: "relu"
  num_encoder_layers: 3
  transformer_norm_input: true
  num_encoder_layers_masked: 0
  transformer_prenorm: true
  pos_encoder: false
  type_emb: true

training:
  use_bipartite_graphs: false
  devices: "0"
  batch_size: 64
  epochs: 20
  lr: 0.0003
  seed: 42
  kkt_w_primal: 1
  kkt_w_dual: 1
  kkt_w_station: 1
  kkt_w_comp: 1
  log_every: 50

testing:
  ckpt: exps/kkt_20251005_111401NamespaceNamespace/best.pt
  bg_path: ../data/IS/BG/test/50/IS-50-0012.lp.bg
  split: test
  out_dir: outputs
  device: "0"
  max_points: 50000
  tsne: true
  topk: 40